= render 'header'
.wapperr
  .texts
    .name-text
      = '店舗名'
    .password-text
      = 'パスワード'
    .address-text
      = '住所'
    .phonenumber-text
      = '電話番号'
    .manager-text
      = '店長名' 
  .shop-form
    = form_with model: @shop, local: true do |f|
      =f.text_field :name,class:'name'
      =f.password_field :password,class:'password'
      =f.text_area :address,class:'address'
      =f.telephone_field :phonenumber,class:'phonenumber'
      =f.text_field :manager,class:'manager'
      =f.submit '登録',class:'register'